.border {
  border: 1px solid black;
}

.margin {
  margin: 20px;
}

.padding {
  padding: 20px;
}

.p-font {
  font-size: 34px;
  font-weight: bold;
}

.h1-font {
  display: inline-block;
  font-size: 16px;
}

.h1-margin-right {
  margin-right: 550px;
}
